.Painel {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Letras {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.Pontuacao {
    font-size: 15px;
    background-color: black;
    color: #ffff;

}

.Categoria {
    color: #8a5e00;
    background-color: #01571a38;
    font-weight: bold;
    text-transform: uppercase;
}

.LetraEscolhida {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    text-transform: uppercase;
}

.Parabens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 2; 
    
}

#Pontuacao {
    color: rgb(255, 174, 0);
    transform: scale(1);
    transition: transform 0.5s;
}