.Painel {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Letras {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.Pontuacao {
    font-size: 15px;
    background-color: black;
    color: #ffff;
}

.Categoria {
    color: #8a5e00;
    background-color: #01571a38;
    font-weight: bold;
    text-transform: uppercase;
}

.LetraEscolhida {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}